.paper-list {
  &-content {
    min-height: calc(100vh - $header-height);
    margin-top: $header-height;
  }
  .list-wrap {
    max-width: 116rem;
    @include column-flexbox(between);
    margin: 0 auto 13.7rem;
    @include responsive('T') {
      width: calc(100vw - 4.8rem);
    }
    @include responsive('M') {
      width: calc(100vw - 4rem);
    }

    &-title {
      @include text-style(24, bold, $white);
      width: 100%;
      margin: 5rem 0 1.6rem 0rem;
    }
    &-btn {
      width: 28rem;
      position: fixed;
      bottom: 2.4rem;
      left: 50%;
      transform: translateX(-50%);
      @include responsive('T') {
        width: calc(100vw - 4.8rem);
      }
      @include responsive('M') {
        width: calc(100vw - 4rem);
      }
      button {
        width: 100%;
      }
    }
  }
}
// margin"7.2rem 0 1.2rem 0" : "4rem 0 1.2rem 0"
