input {
  position: relative;
}
.input-base {
  @include text-style(16, normal, $gray-500);

  width: 100%;
  padding: 1.2rem 1.6rem;
  color: $text-white;
  border: 0.1rem solid $border;
  border-radius: 0.8rem;
  background: $black;
  position: relative;
  &::placeholder {
    color: $gray-500;
  }

  &:not(:error):focus {
    color: $gray-900;
    border: 0.1rem solid $gray-500;
  }

  &:not(:error):active {
    color: $gray-900;
    border: 0.1rem solid $gray-700;
  }

  &:not(:disabled):not(:error):hover {
    border: 0.1rem solid $gray-500;
  }

  &:disabled {
    cursor: not-allowed;
    border: 0.1rem solid $gray-300;
    background: $gray-100;

    &::placeholder {
      color: $gray-400;
    }
  }
}

.input-state {
  &-error {
    border: 0.1rem solid $system-error;
  }
}

// .error-message {
//   @include text-style(16, normal, $system-error);
// }

// .error-message-hidden {
//   display: none;
// }
