.badge-emoji {
  @include inline-flexbox();
  @include text-style(16, 'normal', $white);
  gap: 0.2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 3.2rem;
  background: rgba(0, 0, 0, 0.54);
}
