.badge {
  @include inline-flexbox();

  padding: 0 1.2rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  background-color: $gray-200;

  &-Soulmate {
    color: $orange;
  }
  &-Colleague {
    color: $blue;
  }
  &-Family {
    color: $skyblue;
  }
  &-Friend {
    color: $green;
  }

  &-type-sidebar {
    width: 6.4rem;
  }

  span {
    @include text-style(12, 400);
  }
}
