.badge {
  @include inline-flexbox();
  @include text-style(14);
  padding: 0 0.8rem;
  border-radius: 0.4rem;

  &-acquaintance {
    color: $orange-500;
    background-color: $orange-100;
  }
  &-colleague {
    color: $purple-600;
    background-color: $purple-100;
  }
  &-family {
    color: $green-500;
    background-color: $green-100;
  }
  &-friend {
    color: $blue-500;
    background-color: $blue-100;
  }
}
