/* Set content for font-families */
.ql-font-Pretendard,
.ql-font span[data-value='Pretendard']::before {
  font-family: $font-main;
}
.ql-font-Noto-sans,
.ql-font span[data-value='Noto-sans']::before {
  font-family: $font-NotoSans;
}
.ql-font-Nanum-Myeongjo,
.ql-font span[data-value='Nanum-Myeongjo']::before {
  font-family: $font-NanumMyeongjo;
}
.ql-font-Nanum-Pen-Script,
.ql-font span[data-value='Nanum-Pen-Script']::before {
  font-family: $font-NanumPenScript;
}
/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value='extra-small']::before {
  font-size: 13px !important;
}
.ql-size-small,
.ql-size span[data-value='small']::before {
  font-size: 14px !important;
}
.ql-size-medium,
.ql-size span[data-value='medium']::before {
  font-size: 18px !important;
}
.ql-size-large,
.ql-size span[data-value='large']::before {
  font-size: 20px !important;
}
