$white: #ffffff;
$black: #000000;

$system-error: #d8142a;
$red-dark: #b11123;

$badge-new: #ff1111;
$badge-new-background: rgba(255, 0, 0, 0.1);

$purple: #7100e3;
$purple-light: #a144ff;
$purple-dark: #6400c9;

$green: #48e6a5;
$skyblue: #00ffff;
$blue: #526dff;
$orange: #fc7b61;

$background: #131418;
$border: #24262b;
$card: #191a1e;

$banner-back: #1f2023;
$banner-text: #999999;

$text-white: #e0e0e0;
$text-gray: #5a5e6c;

$gray-900: #030303;
$gray-700: #707070;
$gray-600: #4a4a4a;
$gray-500: #484c58;
$gray-400: #444444;
$gray-300: #363840;
$gray-200: #2c2d34;
$gray-100: #262831;
$dark-gray: #15171b;
