$white: #ffffff;
$black: #000000;

$purple: #7100e3;
$purple-600: #6400c9;

$green: #52ff00;
$neon-blue: #00ffff;
$yellow: #ffe100;
$orange: #ff8a00;

$background: #131418;
$border: #24262b;
$card: #191a1e;

$text-white: #e0e0e0;
$text-gray: #5a5e6c;

$gray-900: #999999;
$gray-700: #707070;
$gray-500: #484c58;
$gray-400: #444444;
$gray-300: #363840;
$gray-200: #2c2d34;
