$behind-gradient-level: -1;

$carousel-btn-level: 5;

$dropdown-level: 20;
$header-level: 30;
$md-filter-level: 31;
$emoji-level: 40;
$share-level: 40;
$sidebar-level: 50;

$skip-menu-level: 100;

$overlay-level: 200;
$toast-level: 210;
