.img-option {
  @include flexbox();
  gap: 1.6rem;
  margin-top: 4.8rem;

  &-chip {
    @include flexbox();
    width: 100%;
    height: 16.8rem;
    border-radius: 1.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &-select {
      @include flexbox();
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
  }

  &-upload {
    &-wrapper {
      @include flexbox();
      width: 100%;
      height: 100%;
      background-color: $card;
      border-radius: 1.6rem;
      border: 0.2rem solid $border;
      overflow: hidden;
    }

    input {
      display: none;
    }

    .ldio div {
      @include pos-center;
      width: 3rem;
      height: 3rem;
      border: 0.4rem solid #999999;
      border-top-color: transparent;
      border-radius: 50%;
    }

    .ldio div {
      animation: ldio 1s linear infinite;
    }

    .loadingio-spinner {
      width: 100%;
      height: 100%;
      display: inline-block;
    }

    .ldio {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0;
    }

    .ldio div {
      box-sizing: content-box;
    }

    @keyframes ldio {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }

  span {
    @include flexbox();
    padding: 1rem;
    border-radius: 50%;
    background-color: $gray-500;

    i {
      font-size: 2.4rem;
      color: $white;
    }
  }
}

.img-option {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include responsive('T') {
    grid-template-columns: repeat(4, 1fr);
  }

  @include responsive('M') {
    grid-template-columns: repeat(2, 1fr);
  }
}
