.home {
  @include column-flexbox(between, center);
  min-height: calc(100vh - $header-height);
  margin: $header-height auto 0;
  padding: 4.8rem 0;
  position: relative;
  @include responsive('T') {
    margin-bottom: 4rem;
  }
  @include responsive('M') {
    margin-bottom: 4rem;
  }

  &-button {
    transform: translateX(-50%);
    bottom: 2.4rem;
    @include responsive('T') {
      width: calc(100vw - 4.8rem);
      position: fixed;
    }
    @include responsive('M') {
      width: calc(100vw - 4rem);
    }
  }
}

.button-area {
  width: 100%;
  text-align: center;
}
