.home {
  @include column-flexbox(between, center);
  min-height: calc(100vh - $header-height);
  margin: $header-height auto 0;
  padding: 4.8rem 0;
  position: relative;

  &-card {
    animation-name: my-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &-button {
    position: fixed;
    bottom: 2.4rem;
  }
}
