.overlay {
  @include flexbox();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: $overlay-level;

  @include responsive('M') {
    padding: 0 2.4rem;
  }
}

@keyframes showModal {
  0% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0);
  }
}

.modal {
  width: 42rem;
  border-radius: 2.4rem;
  overflow: hidden;
  border: 0.2rem solid $border;
  background: linear-gradient(
    180deg,
    rgba(19, 20, 24, 0.51) 0%,
    rgba(19, 20, 24, 0.6) 100%
  );
  box-shadow: $modal-shadow;
  backdrop-filter: blur(12px);
  animation: showModal ease-in-out 0.4s;

  &-banner {
    width: 100%;
    height: 16rem;

    &-purple {
      background-image: url('@/assets/images/background-purple.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 -6rem;
    }
    &-green {
      background-image: url('@/assets/images/background-green.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 -6rem;
    }
    &-beige {
      background-image: url('@/assets/images/background-orange.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 -6rem;
    }
    &-blue {
      background-image: url('@/assets/images/background-blue.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 -6rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 3.2rem 3.2rem 3.2rem;
    text-align: center;

    &-profile {
      @include pos-center-x();
      @include flexbox();
      top: -7rem;
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      background-color: var(--color);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-textbox {
      width: 100%;
      height: 100%;

      strong {
        @include text-style(24, 500, $text-white);
        display: block;
        padding: 6.4rem 0 1.6rem;
        text-align: center;
      }
    }

    &-textArea {
      @include text-style(18, 400, $baaner-text);
      width: 100%;
      max-height: 14rem;
      text-align: start;
      margin-bottom: 3.2rem;
      overflow-y: auto;
      white-space: pre-line;
      word-break: break-all;
      padding-right: 1rem;

      &::-webkit-scrollbar {
        width: 1rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-300;
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }
}
