.main-header {
  position: fixed;
  height: $header-height;
  top: 0;
  left: 0;
  z-index: $header-level;

  width: 100%;
  padding: 0 3.2rem;
  background-color: $background;
  border-bottom: 0.1rem solid $border;

  .header-container {
    @include flexbox(between);
    width: 100%;
    height: 100%;
  }

  @include responsive('M') {
    padding: 0 2.4rem;
  }
}

.header-edit {
  display: none;

  @include responsive('T') {
    display: block;
  }
}
