.card-list {
  position: relative;

  width: 27.5rem;
  height: 26rem;
  padding: 1rem;
  border-radius: 1.6rem;
  box-shadow: $drop-shadow;
  transition: all ease-in-out 0.3s;

  &:hover {
    transform: translateY(-1rem);
    box-shadow: $card-shadow;
  }

  @include responsive('M') {
    width: 20.8rem;
    height: 23.2rem;

    &:hover {
      transform: translateY(0);
    }
  }

  &-content {
    @include pos-center-x();
    bottom: 1rem;

    width: 25.5rem;
    padding: 0.8rem 1.6rem;
    border-radius: 1.2rem;
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(1.6rem);

    &-name {
      @include text-style(24, 700, $text-white);

      @include responsive('M') {
        @include text-style(18, 700, $card);
      }
    }

    &-count {
      @include text-style(16, 400, $text-white);
      padding: 0.4rem 0 1.2rem 0;

      span {
        font-weight: 700;
      }

      @include responsive('M') {
        font-size: 1.4rem;
        padding: 0;
      }
    }

    &-reaction {
      @include flexbox(start);
      gap: 0.8rem;
      min-height: 4rem;

      @include responsive('M') {
        gap: 0.4rem;
      }
    }

    &-empty {
      @include flexbox(between);
      min-height: 4rem;
      border-radius: 2rem;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(1.2rem);

      p {
        @include text-style(14, 500, $text-white);
        opacity: 0.5;
        text-align: center;
        flex-grow: 1;
      }

      button {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: $card;
      }
    }

    @include responsive('M') {
      width: 18.8rem;
    }
  }

  &-purple {
    background-image: url('@/assets/images/background-skyblue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-green {
    background-image: url('@/assets/images/background-green.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-beige {
    background-image: url('@/assets/images/background-orange.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-blue {
    background-image: url('@/assets/images/background-blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
