.card-list {
  @include column-flexbox(between, start);
  position: relative;

  width: 27.5rem;
  height: 26rem;
  padding: 3rem 2.4rem 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  box-shadow: $drop-shadow;

  @include responsive('M') {
    width: 20.8rem;
    height: 23.2rem;
    padding: 3rem 2.2rem 2rem 2.4rem;
  }

  &-title {
    @include text-style(24, 700, $card);
    @include responsive('M') {
      @include text-style(18, 700, $card);
    }
  }

  &-count {
    @include text-style(16, 'nomarl', $card);
    @include responsive('M') {
      @include text-style(14, 'nomarl', $card);
    }
    span {
      @include text-style(16, 700);
      @include responsive('M') {
        @include text-style(14, 700);
      }
    }
  }

  &-reaction {
    @include flexbox(start, center);
    padding-top: 1.6rem;
    min-height: 5.3rem;
    width: 100%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.12);
    gap: 0.8rem;
    @include responsive('M') {
      width: 100%;
      gap: 0.4rem;
    }
  }

  &-purple {
    background-image: url('@/assets/images/background-purple.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-green {
    background-image: url('@/assets/images/background-green.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-beige {
    background-image: url('@/assets/images/background-orange.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-blue {
    background-image: url('@/assets/images/background-blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
