:root {
  --scroll: 0rem;
}

.cardList {
  @include column-flexbox(center, center);
  position: relative;
  &-wrap {
    max-width: 116rem;
    overflow: hidden;
  }

  &-card {
    @include flexbox(start, center);

    width: 100%;
    gap: 2rem;
    transition: transform 0.3s ease-in-out;
    transform: translateX(var(--scroll));
  }
}
