// 이미지 간격.
$gap: 1.6rem;

.wrap {
  @include flexbox(start, center);
  width: 12.5rem;
  height: 2.8rem;
  position: relative;
  margin: 1.2rem 0;

  img {
    width: 2.8rem;
    height: 2.8rem;

    position: absolute;
    border-radius: 100%;
    border: 0.15rem solid white;
    background-color: $white;

    background-size: cover;
    background-position: center;
  }

  span {
    @include text-style(12);
    @include flexbox();
    min-width: 3.3rem;
    height: 2.8rem;
    padding: 0.6rem 0.5rem;

    position: absolute;
    left: $gap * 3;

    border: 0.1rem solid var(--Gray3);
    border-radius: 3rem;

    background-color: white;
  }

  // // profileImg 간격 주기.
  .img1 {
    left: $gap;
  }
  .img2 {
    left: $gap * 2;
  }
}
