.search {
  @include flexbox(between);

  width: 84rem;
  height: 6rem;
  padding: 0 1rem 0 1.6rem;
  border: 0.2rem solid $border;
  border-radius: 1.2rem;
  box-shadow: $modal-shadow;
  transition: all ease-in-out 0.2s;

  &.active {
    border-color: $purple;
  }

  &:hover {
    border-color: $purple;
  }

  &-group {
    @include flexbox(start);
    gap: 0.8rem;
    width: 100%;
    height: 100%;

    &-input {
      @include text-style(18, 500, $text-white);
      width: 100%;
      padding-right: 1.6rem;

      &::placeholder {
        @include text-style(16, 400, $gray-700);
      }
    }
  }

  &-button {
    @include inline-flexbox();

    width: 4rem;
    height: 4rem;
    border-radius: 0.6rem;
    background-color: $purple;
    flex-shrink: 0;
    transition: all ease-in-out 0.2s;

    &:not(:disabled):hover {
      background-color: $purple-dark;
    }
  }

  @include responsive('T') {
    width: 100%;
  }
}
