.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 72rem;
}
.to-input {
  margin-top: 5.7rem;
  margin-bottom: 5rem;
  width: 100%;
}
.To {
  @include text-style(24, 'normal', $gray-900);
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.information {
  gap: 0.4rem;
  margin-bottom: 2.4rem;
  h1 {
    @include text-style(24, 'bold', $gray-900);
    font-weight: 700;
    margin-bottom: 0.4rem;
  }
  p {
    @include text-style(16, 'nomarl', $gray-500);
  }
}
.tab {
  margin-bottom: 4.5rem;
  gap: 4.5rem;
  display: flex;
  flex-direction: column;
  width: 244px;

  Tab {
    width: 100%;
    align-items: flex-start;
  }
}
.button {
  padding: 2.4rem 0;
  margin-top: 4.5rem;
  width: 72rem;
  margin-bottom: 31.2rem;
  Button {
    width: 100%;
  }
}
