.create-page {
  width: 100%;
  height: 100%;
}

.header {
  @include responsive('M') {
    display: none;
  }
}

.sm-only {
  display: none;

  @include responsive('M') {
    display: block;
    height: 5rem;
    padding-left: 2rem;
    position: relative;

    .btn-go-back {
      @include pos-center-y();
    }
  }
}

.form-wrapper {
  width: 100%;
  height: calc(100vh - $header-height);

  @include responsive('M') {
    padding: 0 2.4rem;
  }

  .container {
    max-width: 72rem;
    margin: 0 auto;
  }

  .form {
    @include column-flexbox(start, start);
    width: 100%;
    padding: 10.8rem 0;

    @include responsive('M') {
      padding: 4.8rem 0;
    }

    fieldset {
      width: 100%;
      button {
        width: 100%;
      }
    }

    .username-input {
      &-label {
        @include flexbox(start, center);
        @include text-style(24, 700, $text-white);
        align-items: center;
        margin-bottom: 1.2rem;
        gap: 1rem;
        .error-message {
          @include text-style(16, 500, $system-error);
        }
        span {
          @include text-style(16, 500, $text-gray);
        }
      }
    }

    .background-information {
      gap: 0.4rem;
      margin-top: 5rem;
      margin-bottom: 2.4rem;
      h1 {
        @include text-style(24, 700, $text-white);
        font-weight: 700;
        margin-bottom: 0.4rem;
      }
      p {
        @include text-style(16, 500, $text-gray);
      }
    }

    .submit-button {
      margin-top: 6.9rem;
      @include responsive('T') {
        margin-top: 5.2rem;
      }
      @include responsive('M') {
        margin-top: 8.2rem;
      }
    }
  }
}
