@keyframes showModal {
  0% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0);
  }
}

.modal {
  padding: 3.2rem 6rem;
  border-radius: 2.4rem;
  overflow: hidden;
  border: 0.2rem solid $border;
  background: linear-gradient(
    180deg,
    rgba(19, 20, 24, 0.51) 0%,
    rgba(19, 20, 24, 0.6) 100%
  );
  box-shadow: $modal-shadow;
  backdrop-filter: blur(12px);
  animation: showModal ease-in-out 0.4s;
  text-align: center;

  &-content {
    &-message {
      margin: 0.8rem 0 2.4rem;

      &-info {
        @include text-style(18, 700, $text-white);
        padding-bottom: 0.4rem;
      }

      &-desc {
        @include text-style(12, 500, $gray-700);
      }
    }

    &-footer {
      @include flexbox();

      &-inner {
        button:first-child {
          margin-right: 0.8rem;
        }
      }
    }
  }
}
