.member-list {
  @include column-flexbox(center, stretch);
  gap: 1.6rem;
  width: 100%;
}

.member-list-header {
  @include flexbox(between);
  padding: 0 3.2rem;

  &-title {
    @include text-style(16, 'normal', #e0e0e0);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.16px;
  }
  &-icon {
    @include flexbox();
    @include text-style(12, 'normal', #666);

    i {
      font-size: 1.2rem;
    }
  }
}

.member-list-content {
  @include column-flexbox(center, stretch);
  gap: 0.6rem;

  li {
    @include text-style(14, 'normal', #e0e0e0);
    padding: 0.8rem 3.2rem;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #191a1e;
    }
  }
}
