.member-list {
  @include column-flexbox(start, between);
  width: 100%;
  gap: 1.6rem;

  &-header {
    @include flexbox(between);

    &-title {
      @include text-style(16, 500, $text-white);
    }
  }

  .lg-only {
    .member-list-content {
      @include column-flexbox(start, between);
      gap: 0.6rem;

      li {
        @include text-style(14, 600, $text-white);
        position: relative;
        padding: 0.8rem 0;
      }
    }
  }
}

.lg-hidden {
  .member-list-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.2rem;

    &-item {
      background-color: var(--color);
    }

    li {
      border-radius: 0.6rem;
      height: 4rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-count {
      @include flexbox();
      width: 100%;
      height: 100%;
      border-radius: 0.6rem;
      background-color: $black;

      span {
        @include text-style(14, 400, $text-white);

        &:last-child {
          @include text-style(16, 700, $text-white);
        }
      }
    }
  }
}
