.card {
  @include column-flexbox(start, between);

  width: 100%;
  min-width: 30rem;
  height: 28rem;
  padding: 2.4rem;
  border-radius: 2.4rem;
  background-color: $card;
  border: 0.1rem solid transparent;
  transition: all ease-in-out 0.3s;
  cursor: pointer;

  position: relative;

  &:hover {
    transform: translateY(-1rem);
    box-shadow: $card-shadow;
  }

  .gradient-box {
    opacity: 0;
    visibility: hidden;
  }

  &:hover .gradient-box {
    @include pos-center();

    opacity: 1;
    visibility: visible;
    width: calc(100% + 0.4rem);
    height: calc(100% + 0.4rem);
    border: 0.1rem solid transparent;
    border-radius: 2.4rem;
    background-image: linear-gradient(#191a1e, #191a1e),
      linear-gradient(
        180deg,
        rgba(25, 26, 30, 0) 0%,
        rgba(255, 107, 0, 0.5) 52.08%,
        #7100e3 100%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: $behind-gradient-level;
  }

  @include responsive(M) {
    &:hover .gradient-box {
      opacity: 0;
      visibility: hidden;
    }
  }

  &-header {
    position: relative;

    &-btn-delete {
      display: none;
      position: absolute;
      top: 0;
      right: 0;

      &-active {
        display: block;
      }
    }
  }

  &-content {
    padding: 2.4rem 0 2.6rem;
    flex-grow: 1;
    flex-shrink: 0;

    .sender-info {
      @include flexbox(start);
      gap: 1.2rem;
      width: 100%;
      margin-bottom: 1.2rem;

      .sender-profile {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        flex-shrink: 0;
        background-color: var(--color);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .sender-name {
        @include text-style(16, 700, $text-white);
        word-break: keep-all;
      }
    }
  }

  &-textbox {
    @include text-style(18, 400, $banner-text);
    width: 100%;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  &-date {
    @include text-style(12, 400, $gray-500);
  }
}

.dialog-confirm {
  text-align: center;
  margin-top: 2.4rem;
  &-footer {
    button:last-child {
      margin-left: 0.8rem;
    }
  }
}
