$desktop-breakpoint: 1599px;
$tablet-breakpoint: 1199px;
$mobile-breakpoint: 767px;

@mixin responsive($screen) {
  @if $screen == 'D' {
    @media screen and (max-width: $desktop-breakpoint) {
      @content;
    }
  } @else if $screen == 'T' {
    @media screen and (max-width: $tablet-breakpoint) {
      @content;
    }
  } @else if $screen == 'M' {
    @media screen and (max-width: $mobile-breakpoint) {
      @content;
    }
  }
}
